.modal {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  padding-right: calc(var(--spacer-lg) + 15px);
  padding: 5rem calc(4rem + 15px) 2rem 4rem;
}

@media screen and (max-width: 700px) {
  .modal {
    padding: 3rem calc(2rem + 15px) 2rem 2rem;
  }
}
