.header {
    width: 100%;
}
.nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--spacer);
    box-shadow: var(--boxShadow-sm-bottom);
}
.logo svg {
    height: 30px;
    padding-right: var(--spacer);
}
.navLinks {
    display: flex;
    gap: var(--spacer-md);
}
.login::after {
    content: '';
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    top: 5px;
    margin-left: var(--spacer);
    background: url('../assets/user.svg') no-repeat center;
    
}
    
