.form {
    display: flex;
    flex-direction: column;
    margin: var(--spacer-sm);
}
.single.form {
    margin-inline: 0;
}
.textarea {
    display: block;
    width: 100%;
    border: none;
    resize: none;
    transition: var(--transition);
}
.button svg {
    height: 40px;
    width: 40px;
}