.cadastro {
  margin-block: var(--spacer-xl);
}
.perdeu {
  display: inline-block;
  color: var(--color-primary);
  padding-block: var(--spacer);
  line-height: 1;
  font-size: 1rem;
}
.perdeu::after {
  display: block;
  content: "";
  height: 2px;
  width: 100%;
  background-color: currentColor;
}
.cadastro {
  margin-block: var(--spacer-xl);
}
.cadastro p {
  margin-block: var(--spacer);
}
.subtitle {
  font-family: var(--fontFamily-headings);
  line-height: 1;
  font-size: var(--fontSize-md);
  color: var(--color-primary);
}
.subtitle::after {
  content: "";
  display: block;
  background-color: var(--color-primary20);
  height: 0.5rem;
  width: 3rem;
  border-radius: var(--borderRadius-sm);
}
